<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Opinions</a>
        </li>
        <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" adressType="establishment"></AutocompleteComponent>
        <li class="nav-item">
          <b class="nav-link">Address: {{formattedEstablishmentAddress}}</b> 
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
              <a class="nav-link" mdbTooltip="Go to My Current Location" placement="bottom" (click)="centerMapToMyLocation()"> <mdb-icon fas icon="map-marker-alt"></mdb-icon></a>
            </li>
        <li class="nav-item">
          <a class="nav-link link-position_relative" mdbTooltip="Notifications" placement="bottom" style="position: relative"> <mdb-icon fas icon="envelope"></mdb-icon><span class="badge badge-secondary">1</span></a>
        </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect  type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" width=""alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</header>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 pr-0" style="margin-top: 4.5rem;">
        <ng-scrollbar #scrollable
                [invertX]="invertX"
                [invertY]="invertY"
                [trackX]="true"
                [compact]="compact"
                [shown]="shown"
                [disableOnBreakpoints]="false"
                [disabled]="disabled">
          <div id="sidediv">
            <div class="card bg-dark text-white mb-3">
              <img [src]="image" height="200" class="card-img img-blur" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-dark text-white mb-3">
              <img [src]="image2" height="200" class="card-img img-blur" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;max-height: 100px;">
              <div class="row no-gutters">
                <div class="col-4">
                  <svg class="bd-placeholder-img" width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div class="col-sm-10 pl-0">
        <agm-map id="AgmMap" #AgmMap [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="15" [streetViewControl]="false" [scrollwheel]="null">    
          <agm-marker [latitude]="lat" [longitude]="lng" [label]="'My Location'" [iconUrl]= "'/assets/images/people35.png'"></agm-marker>
          <agm-marker (dragEnd)="markerDragEnd(location.maker,$event)" [zIndex]="9999" [latitude]="location.lat" [longitude]="location.lng" [markerDraggable]="true" [visible]="location.marker.visible" [iconUrl]= "'/assets/images/pin.png'">
            <agm-info-window [isOpen]="location.marker.visible" >
              {{formattedEstablishmentAddress}}
            </agm-info-window>
          </agm-marker>
          <agm-marker-cluster imagePath="/assets/images/m">
            <agm-marker  *ngFor="let item of coordinates; let i = index" [latitude]="item.lat" [longitude]="item.lon" [label]="" [iconUrl]= "'/assets/images/house.png'">
              <agm-info-window>
                <p class="mb-2 display-4">{{item.lat}} / {{item.lon}}</p>
                <br/> 
                <table class="table table-hover table-dark table-borderless">
                  <tbody>
                    <tr>
                      <td class="align-middle" width="64">
                        <span class="display-4">16:10</span>                        
                      </td>
                      <td class="align-middle">Otto</td>
                      <td class="align-middle text-align_right"><a href="#" class="btn btn-default">Dark</a></td>
                    </tr>
                    <tr>
                      <td class="align-middle">
                          <span class="display-4">17:30</span>
                      </td>
                      <td class="align-middle">Thornton</td>
                      <td class="align-middle text-align_right"><a href="#" class="btn btn-default">Dark</a></td>
                    </tr>
                    <tr>
                      <td class="align-middle">
                          <span class="display-4">18:00</span>
                      </td>
                      <td class="align-middle">the Bird</td>
                      <td class="align-middle text-align_right">
                        <a target="_blank" href="https://m.uber.com/ul/?client_id=3F7gvmpX8b4gXEVSvewOzhln-SoXL8NU&action=setPickup&pickup[latitude]=37.775818&pickup[longitude]=-122.418028&pickup[nickname]=UberHQ&pickup[formatted_address]=1455%20Market%20St%2C%20San%20Francisco%2C%20CA%2094103&dropoff[latitude]=37.802374&dropoff[longitude]=-122.405818&dropoff[nickname]=Coit%20Tower&dropoff[formatted_address]=1%20Telegraph%20Hill%20Blvd%2C%20San%20Francisco%2C%20CA%2094133&product_id=a1111c8c-c720-46c3-8534-2fcdd730040d&link_text=View%20team%20roster&partner_deeplink=partner%3A%2F%2Fteam%2F9383" class="btn btn-default">Dark</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
              </agm-info-window>
            </agm-marker>          
          </agm-marker-cluster>
        </agm-map>
      </div>      
    </div>
  <div>

<router-outlet></router-outlet>
